<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<properties>
		<property name="selectedAppender">${sys:selectedAppender}</property>
		<property name="log-path">./logs</property>
	</properties>

	<Appenders>
		<Console name="console">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%-25.25c] [L.%-4L] %m%n" />
		</Console>

		<RollingFile name="RollingFile" fileName="${log-path}/routing-service.log"
			filePattern="${log-path}/routing-service-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<pattern>%d{yyy-MM-dd HH:mm:ss.SSS} %-5p [%-25.25C] [L.%-4L] %m%n</pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="4" />
		</RollingFile>
		<RollingFile name="Errors" fileName="${log-path}/routing-service-errors.log"
					 filePattern="${log-path}/routing-service-errors-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<pattern>%d{yyy-MM-dd HH:mm:ss.SSS} %-5p [%-25.25C] [L.%-4L] %m%n</pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="4" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="com.groupaxis.groupsuite" additivity="false">
			<AppenderRef ref="${selectedAppender}" level="debug" />
			<AppenderRef ref="Errors" level="error"/>
		</Logger>

		<Logger name="akka.actor.ActorSystemImpl"  additivity="false">
			<AppenderRef ref="${selectedAppender}" level="info"/>
			<AppenderRef ref="Errors" level="error"/>
		</Logger>

		<Logger name="slick.jdbc.JdbcBackend" additivity="false">
			<AppenderRef ref="${selectedAppender}" level="info" />
			<AppenderRef ref="Errors" level="error"/>
		</Logger>
		<Logger name="slick.jdbc.StatementInvoker" additivity="false">
			<AppenderRef ref="${selectedAppender}" level="info" />
			<AppenderRef ref="Errors" level="error"/>
		</Logger>

	
		<Root level="${sys:rootLevel}">
		
		<AppenderRef ref="${selectedAppender}" />
		</Root>
	</Loggers>

</Configuration>